.gifv-player {
    display: inline-block;
    position: relative;
}
    .gifv-player-overlay:after {
        content: "GIF";
        background: rgba(0, 0, 0, .8);
        color: #fff;
        border: 2px solid;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 5px;
        font-weight: bold;
        font-size: 36px;
        width: 116px;
        height: 66px;
        line-height: 70px;
        text-align: center;
        margin: -34px 0 0 -60px;
    }
    .gifv-player-playing .gifv-player-overlay {
        display: none;
    }

    .gifv-player img {
        position: relative;
    }
    .gifv-player-playing video {
        position: static;
    }
    .gifv-player video {
        position: absolute;
    }
